body {
    background:url("https://images.pexels.com/photos/1590549/pexels-photo-1590549.jpeg?_gl=1*1cugrnt*_ga*MTc1NTIxMTA0LjE3NTI1MzAwMjA.*_ga_8JE65Q40S6*czE3NTI1MzMwODIkbzIkZzEkdDE3NTI1MzM4ODUkajMzJGwwJGgw");
}
p{
    color:white;
    margin: 0;
    margin-left:3px;
    
}
html,body{
  height:100% ;
}
.project-box{
    background-color:orange;
    display:inline-block ; 
    box-shadow:0 0 10px rgba(0,0,0,0.5);
}
.intro-div{
    background-color:orange;
    opacity: 0.8;
    padding:4px 1px;
    margin-bottom:20px;
    
}
img{
  z-index: 1;
}
.intro{
    text-align:center ;
    box-shadow:0 0 10px rgba(255,255,255,0.5);
    font-size:25px;
}
.name-project{
  font-weight: bold;
}
.home-button-div{
    width:55px;
    background-color:rgba(250,150,61,0.7);
    border-radius:50px;
    position:fixed ;
    bottom:50px;
    right:20px;
}
.home-button{
    width:100%;
    height:100%;
}